In [3]:
import keras as kr
import pandas as pd
import sklearn.preprocessing as pre
import sklearn.model_selection as mod
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

from sklearn import datasets
from sklearn.utils import Bunch

from keras import models, layers

Using TensorFlow backend.

In [4]:
boston = datasets.load_boston()
type(boston)

sklearn.utils.Bunch

In [5]:
df = pd.DataFrame(data=boston['data'], columns=boston['feature_names'])

In [6]:
df['MEDV'] =boston['target']

In [7]:
medv = df['MEDV'].copy()
del df['MEDV']
df = pd.concat((medv, df), axis=1)

In [8]:
df

,MEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,24.0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,21.6,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,34.7,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,33.4,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,36.2,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,20.6,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,23.9,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,22.0,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,11.9,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [12]:
inputs = df[['CRIM', 'CHAS', 'RM', 'DIS', 'TAX', 'AGE', 'LSTAT']]
inputs

        CRIM  CHAS     RM     DIS    TAX   AGE  LSTAT
0    0.00632   0.0  6.575  4.0900  296.0  65.2   4.98
1    0.02731   0.0  6.421  4.9671  242.0  78.9   9.14
2    0.02729   0.0  7.185  4.9671  242.0  61.1   4.03
3    0.03237   0.0  6.998  6.0622  222.0  45.8   2.94
4    0.06905   0.0  7.147  6.0622  222.0  54.2   5.33
..       ...   ...    ...     ...    ...   ...    ...
501  0.06263   0.0  6.593  2.4786  273.0  69.1   9.67
502  0.04527   0.0  6.120  2.2875  273.0  76.7   9.08
503  0.06076   0.0  6.976  2.1675  273.0  91.0   5.64
504  0.10959   0.0  6.794  2.3889  273.0  89.3   6.48
505  0.04741   0.0  6.030  2.5050  273.0  80.8   7.88

[506 rows x 7 columns]

In [14]:
outputs = df[['MEDV']]
outputs

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [27]:
model = kr.models.Sequential()

model.add(kr.layers.Dense(20, input_dim=7, activation="linear"))
model.add(kr.layers.Dense(20, activation="linear"))
model.add(kr.layers.Dense(1, activation="linear"))

model.compile(loss="mean_squared_error", optimizer="adam")

In [30]:
model.fit(inputs, outputs, epochs=20, batch_size=10)

Epoch 1/20
506/506 [==============================] - 0s 67us/step - loss: 61.4925
Epoch 2/20
506/506 [==============================] - 0s 65us/step - loss: 55.7555
Epoch 3/20
506/506 [==============================] - 0s 63us/step - loss: 52.5179
Epoch 4/20
506/506 [==============================] - 0s 61us/step - loss: 54.4376
Epoch 5/20
506/506 [==============================] - 0s 63us/step - loss: 54.6865
Epoch 6/20
506/506 [==============================] - 0s 62us/step - loss: 49.5770
Epoch 7/20
506/506 [==============================] - 0s 61us/step - loss: 55.0106
Epoch 8/20
506/506 [==============================] - 0s 67us/step - loss: 49.5268
Epoch 9/20
506/506 [==============================] - 0s 62us/step - loss: 46.6136
Epoch 10/20
506/506 [==============================] - 0s 68us/step - loss: 45.8483
Epoch 11/20
506/506 [==============================] - 0s 61us/step - loss: 56.6623
Epoch 12/20
506/506 [==============================] - 0s 61us/step - loss: 52.9439
Epoch 13/20
506/506 [==============================] - 0s 59us/step - loss: 47.2708
Epoch 14/20
506/506 [==============================] - 0s 61us/step - loss: 53.3784
Epoch 15/20
506/506 [==============================] - 0s 67us/step - loss: 44.7314
Epoch 16/20
506/506 [==============================] - 0s 65us/step - loss: 51.8686
Epoch 17/20
506/506 [==============================] - 0s 63us/step - loss: 56.1423
Epoch 18/20
506/506 [==============================] - 0s 63us/step - loss: 47.2381
Epoch 19/20
506/506 [==============================] - 0s 73us/step - loss: 48.4589
Epoch 20/20
506/506 [==============================] - 0s 61us/step - loss: 49.3381

In [31]:
model.predict(inputs)

array([[28.869436  ],
       [27.793173  ],
       [31.775951  ],
       [31.822325  ],
       [31.222778  ],
       [30.078566  ],
       [23.48384   ],
       [22.375502  ],
       [12.806397  ],
       [23.28373   ],
       [22.123638  ],
       [25.60535   ],
       [17.059696  ],
       [25.007755  ],
       [26.096954  ],
       [23.642784  ],
       [22.18774   ],
       [21.595572  ],
       [16.749435  ],
       [21.670683  ],
       [16.637238  ],
       [22.783016  ],
       [19.426928  ],
       [18.816593  ],
       [21.755186  ],
       [19.845385  ],
       [22.63404   ],
       [20.683125  ],
       [26.156418  ],
       [26.128908  ],
       [15.805776  ],
       [25.161728  ],
       [10.416785  ],
       [18.781384  ],
       [18.283623  ],
       [22.773779  ],
       [20.337336  ],
       [20.907661  ],
       [18.614075  ],
       [25.996407  ],
       [28.271706  ],
       [24.154354  ],
       [22.303602  ],
       [21.055126  ],
       [22.948566  ],
       [19.88073   ],
       [16.840248  ],
       [20.602604  ],
       [10.567809  ],
       [19.417158  ],
       [21.62634   ],
       [27.364738  ],
       [26.782894  ],
       [22.956497  ],
       [21.512362  ],
       [31.580715  ],
       [31.040543  ],
       [32.96357   ],
       [26.911293  ],
       [25.397186  ],
       [24.3485    ],
       [26.533619  ],
       [31.592487  ],
       [28.182056  ],
       [33.709415  ],
       [26.190968  ],
       [21.943174  ],
       [22.634125  ],
       [19.65113   ],
       [23.45684   ],
       [21.68735   ],
       [19.24762   ],
       [21.942024  ],
       [20.531542  ],
       [19.947361  ],
       [23.16774   ],
       [23.56329   ],
       [21.25977   ],
       [21.955324  ],
       [21.016953  ],
       [26.950386  ],
       [29.477093  ],
       [24.566143  ],
       [25.303436  ],
       [23.405386  ],
       [27.049969  ],
       [19.001371  ],
       [23.381073  ],
       [31.095299  ],
       [28.345755  ],
       [24.074572  ],
       [25.472485  ],
       [23.949915  ],
       [22.047333  ],
       [24.219856  ],
       [25.91869   ],
       [22.318855  ],
       [33.669502  ],
       [28.93769   ],
       [28.822021  ],
       [25.696815  ],
       [26.354542  ],
       [24.466629  ],
       [21.73059   ],
       [22.640402  ],
       [18.831747  ],
       [16.560492  ],
       [20.128208  ],
       [24.31139   ],
       [20.446873  ],
       [18.40915   ],
       [25.189957  ],
       [19.135983  ],
       [19.405876  ],
       [23.553185  ],
       [19.12756   ],
       [21.294239  ],
       [23.560343  ],
       [17.5382    ],
       [18.070316  ],
       [17.361805  ],
       [19.405972  ],
       [17.187641  ],
       [11.072835  ],
       [17.508488  ],
       [19.149317  ],
       [ 8.5175905 ],
       [17.397718  ],
       [21.069027  ],
       [16.370897  ],
       [23.846897  ],
       [23.79986   ],
       [24.991503  ],
       [20.32349   ],
       [18.43494   ],
       [19.849697  ],
       [18.19045   ],
       [21.783882  ],
       [14.513209  ],
       [17.5376    ],
       [12.341632  ],
       [ 1.488269  ],
       [10.694247  ],
       [ 8.919711  ],
       [ 4.9009123 ],
       [ 9.557639  ],
       [17.620338  ],
       [ 4.6926985 ],
       [ 6.201087  ],
       [12.964986  ],
       [20.791172  ],
       [19.979355  ],
       [20.916023  ],
       [18.492294  ],
       [22.338299  ],
       [20.734457  ],
       [16.715519  ],
       [31.031775  ],
       [27.483387  ],
       [27.802307  ],
       [30.216124  ],
       [34.061886  ],
       [37.95931   ],
       [37.903656  ],
       [22.523333  ],
       [24.551373  ],
       [34.23805   ],
       [20.709305  ],
       [24.199718  ],
       [24.323885  ],
       [20.691845  ],
       [22.87114   ],
       [19.169888  ],
       [25.4561    ],
       [21.826286  ],
       [23.42067   ],
       [20.422386  ],
       [27.09029   ],
       [27.508413  ],
       [27.210197  ],
       [29.926601  ],
       [21.653652  ],
       [31.665493  ],
       [30.086899  ],
       [20.384857  ],
       [20.32608   ],
       [29.730135  ],
       [24.844906  ],
       [25.63303   ],
       [27.678783  ],
       [27.814137  ],
       [28.730537  ],
       [30.780563  ],
       [25.613895  ],
       [26.718779  ],
       [31.827938  ],
       [32.003544  ],
       [28.130077  ],
       [30.382584  ],
       [29.151253  ],
       [29.473549  ],
       [25.610287  ],
       [30.060812  ],
       [30.480263  ],
       [31.540565  ],
       [17.012445  ],
       [22.13389   ],
       [17.355854  ],
       [21.417961  ],
       [17.053385  ],
       [22.448647  ],
       [14.842225  ],
       [18.238972  ],
       [20.625473  ],
       [-1.4996032 ],
       [21.26764   ],
       [20.064161  ],
       [26.608866  ],
       [20.783394  ],
       [28.393019  ],
       [29.368347  ],
       [18.334747  ],
       [28.253956  ],
       [27.55882   ],
       [33.714954  ],
       [34.99502   ],
       [35.380276  ],
       [29.762962  ],
       [25.818254  ],
       [23.647236  ],
       [21.67773   ],
       [31.539818  ],
       [35.907486  ],
       [33.892265  ],
       [28.606728  ],
       [21.775814  ],
       [28.98837   ],
       [31.834167  ],
       [24.74961   ],
       [27.043043  ],
       [26.099426  ],
       [24.553093  ],
       [25.657625  ],
       [25.343754  ],
       [26.761381  ],
       [21.145897  ],
       [25.970085  ],
       [30.719051  ],
       [27.874556  ],
       [27.260986  ],
       [26.127579  ],
       [27.412518  ],
       [30.51818   ],
       [33.9121    ],
       [29.305153  ],
       [24.995897  ],
       [31.829933  ],
       [33.490047  ],
       [29.56869   ],
       [29.236185  ],
       [25.903526  ],
       [29.544949  ],
       [33.282032  ],
       [26.290905  ],
       [28.056377  ],
       [18.679955  ],
       [21.503859  ],
       [29.037937  ],
       [29.394482  ],
       [21.68407   ],
       [18.091     ],
       [21.258543  ],
       [25.418606  ],
       [31.327204  ],
       [28.939362  ],
       [28.723816  ],
       [30.983725  ],
       [29.005033  ],
       [22.90216   ],
       [25.547699  ],
       [33.582825  ],
       [28.27574   ],
       [35.02449   ],
       [33.511036  ],
       [26.777542  ],
       [26.225248  ],
       [24.057795  ],
       [26.446768  ],
       [28.029202  ],
       [24.38501   ],
       [27.807213  ],
       [28.303856  ],
       [25.573471  ],
       [21.106934  ],
       [22.15596   ],
       [26.48656   ],
       [27.613852  ],
       [20.088366  ],
       [27.995584  ],
       [28.713753  ],
       [31.640034  ],
       [24.15031   ],
       [21.980587  ],
       [26.237114  ],
       [25.860968  ],
       [23.829542  ],
       [29.12405   ],
       [26.758322  ],
       [30.38285   ],
       [23.309752  ],
       [13.082984  ],
       [23.478384  ],
       [23.273727  ],
       [26.68379   ],
       [27.275688  ],
       [22.635366  ],
       [18.260727  ],
       [18.580973  ],
       [23.447266  ],
       [20.453579  ],
       [25.72012   ],
       [26.103718  ],
       [24.296154  ],
       [23.050928  ],
       [25.360226  ],
       [24.173271  ],
       [24.676735  ],
       [20.412712  ],
       [19.992443  ],
       [22.28708   ],
       [23.03859   ],
       [19.619278  ],
       [23.60213   ],
       [27.491383  ],
       [26.64552   ],
       [23.828032  ],
       [22.338232  ],
       [23.868122  ],
       [22.244453  ],
       [22.01007   ],
       [23.89266   ],
       [32.120968  ],
       [28.162895  ],
       [28.590946  ],
       [28.759743  ],
       [26.218384  ],
       [24.620697  ],
       [29.115522  ],
       [29.61055   ],
       [31.680216  ],
       [31.664848  ],
       [33.92306   ],
       [28.242123  ],
       [36.741272  ],
       [27.624702  ],
       [30.051243  ],
       [20.9687    ],
       [25.086792  ],
       [25.185871  ],
       [21.371578  ],
       [26.880299  ],
       [21.376263  ],
       [22.818203  ],
       [21.429409  ],
       [35.83126   ],
       [19.172077  ],
       [17.658024  ],
       [15.4970045 ],
       [26.88174   ],
       [32.677315  ],
       [33.95444   ],
       [24.30407   ],
       [25.102161  ],
       [ 0.18540108],
       [-4.9125338 ],
       [23.041199  ],
       [13.1299925 ],
       [16.182762  ],
       [11.912227  ],
       [13.9440565 ],
       [13.7009115 ],
       [15.526881  ],
       [11.602744  ],
       [10.793918  ],
       [ 0.93839943],
       [ 4.075118  ],
       [ 4.35781   ],
       [ 1.1185523 ],
       [ 3.8603048 ],
       [13.63798   ],
       [17.63416   ],
       [15.8320875 ],
       [ 8.382388  ],
       [19.601181  ],
       [17.782333  ],
       [19.332684  ],
       [17.119312  ],
       [15.195777  ],
       [ 3.510394  ],
       [ 4.3592024 ],
       [ 9.029254  ],
       [15.943465  ],
       [16.51094   ],
       [12.892161  ],
       [ 4.54515   ],
       [ 8.201377  ],
       [ 7.012187  ],
       [20.623997  ],
       [ 9.209659  ],
       [17.492344  ],
       [20.108986  ],
       [15.9341    ],
       [-0.20467842],
       [12.212901  ],
       [-4.347905  ],
       [ 9.074504  ],
       [12.007419  ],
       [ 6.162566  ],
       [10.933887  ],
       [12.818767  ],
       [21.064968  ],
       [19.245266  ],
       [18.510971  ],
       [12.230983  ],
       [14.1466055 ],
       [11.276328  ],
       [14.408717  ],
       [16.592098  ],
       [12.941409  ],
       [13.286151  ],
       [17.54258   ],
       [17.973675  ],
       [21.341015  ],
       [19.693352  ],
       [20.131516  ],
       [14.533164  ],
       [17.863533  ],
       [10.818465  ],
       [ 2.6011114 ],
       [11.99689   ],
       [12.113719  ],
       [17.39048   ],
       [19.867718  ],
       [18.337608  ],
       [12.000964  ],
       [13.403323  ],
       [18.803242  ],
       [19.628666  ],
       [18.451035  ],
       [18.032757  ],
       [19.95728   ],
       [20.28104   ],
       [19.052113  ],
       [22.99245   ],
       [19.075188  ],
       [18.395298  ],
       [16.673874  ],
       [17.392883  ],
       [19.322357  ],
       [20.09547   ],
       [20.86404   ],
       [21.35912   ],
       [21.131187  ],
       [25.625061  ],
       [19.628773  ],
       [16.182766  ],
       [18.211838  ],
       [15.589602  ],
       [14.946654  ],
       [15.550353  ],
       [19.544762  ],
       [23.414078  ],
       [20.604565  ],
       [22.734623  ],
       [16.481342  ],
       [13.462634  ],
       [18.502728  ],
       [ 9.917151  ],
       [18.112019  ],
       [20.656052  ],
       [22.418243  ],
       [27.24091   ],
       [28.96556   ],
       [19.697464  ],
       [17.29086   ],
       [22.107517  ],
       [20.579716  ],
       [19.33966   ],
       [16.087112  ],
       [11.706187  ],
       [ 6.2685843 ],
       [18.182156  ],
       [20.565937  ],
       [17.441246  ],
       [15.325448  ],
       [10.3172655 ],
       [11.941241  ],
       [18.583473  ],
       [18.841396  ],
       [16.89827   ],
       [19.531683  ],
       [23.347292  ],
       [23.307455  ],
       [29.796705  ],
       [28.74377   ],
       [24.846153  ]], dtype=float32)

In [32]:
(outputs - model.predict(inputs))

          MEDV
0    -4.869436
1    -6.193173
2     2.924049
3     1.577675
4     4.977222
..         ...
501  -0.947292
502  -2.707455
503  -5.896705
504  -6.743771
505 -12.946153

[506 rows x 1 columns]

In [35]:
model.predict(inputs).T - outputs.as_matrix()

C:\Users\shaun\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[ 4.86943626,  3.79317284,  7.77595139, ...,  5.79670525,
         4.7437706 ,  0.84615326],
       [ 7.26943626,  6.19317284, 10.17595139, ...,  8.19670525,
         7.1437706 ,  3.24615326],
       [-5.83056374, -6.90682716, -2.92404861, ..., -4.90329475,
        -5.9562294 , -9.85384674],
       ...,
       [ 4.96943626,  3.89317284,  7.87595139, ...,  5.89670525,
         4.8437706 ,  0.94615326],
       [ 6.86943626,  5.79317284,  9.77595139, ...,  7.79670525,
         6.7437706 ,  2.84615326],
       [16.96943626, 15.89317284, 19.87595139, ..., 17.89670525,
        16.8437706 , 12.94615326]])